.wrap {

    width: 100%;
    height: 100%;
    position: relative;

    main {
        .banner {
            width: 100%;
            height: 535px;
            background-image: url('../assets/bg1.jpeg');
            background-position: center center;
            background-size: cover;
            .desc {
                font-size: 1.8em;
                color: white;
                position: absolute;
                top: 277px;
                left: calc(50% - 120px);
                text-align: center;
                width: 240px;
                // border: 1px solid red;
            }
        }
        .contentWrap {
            margin-top: 20px;
            section {
                position: relative;
                .contentTitle {
                    font-size: 23px;
                    color    : rgba(0, 0, 0, .7);
                    font-weight: 700;
                    border: 1px solid black;
                    margin: 20px 0;
                    display: inline-block;
                }
                .recommend {
                    .itemWrap {
                        display: flex;
                        overflow : auto;
                        
                        .item {
                            margin-right: 20px;
                            width: 210px;
                            height: 130px;
                            border: 1px solid red;
                            background: blue;
                            border-radius: 20px;
                            display      : flex;
                            flex-shrink  : 0;
                        }
                    }
                }

                .mask {
                    display: block;
                    visibility: visible;
                    position: absolute;
                    border: 1px solid blue;
                    width: 10%;
                    height: 130px;
                    right     : 0;
                    top: 76px;
                    // background: -webkit-linear-gradient(right, hsla(0, 0%, 97%, 0) 10%, #f7f7f7 100%);
                    background: linear-gradient(to right, hsla(0, 0%, 97%, 0) 10%, #f7f7f7 100%);
                }
                .maskLeft {
                    left     : 0;
                    background: linear-gradient(to right,#f7f7f7 10%,hsla(0,0%,97%,0) 100%);
                    display: none;
                }
            }
        }
    }
}